body{
    font-family: 'Arial';
    color: #1c1c1c;
    background-color: black;
}

p{
    font-family: 'Arial';
    color: lightblue;
    text-align: justify;
    font-size: 15px;
}

h1, h2, h3{
    font-family: 'Arial';
    color: white;
    text-align: justify;
    font-size: 15px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a{
    text-decoration: none;
    color: green;
    font-size: 20px;
    font-weight: 800;
    font-family: serif;
}

nav img{
    width: 100px;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: justify;
    padding: 20px;
}

header h1{
    color: blue;
    font-size: 50px;
}

header p{
    margin-bottom: 2cm;
    color: yellow;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: black;
    color: purple;
    margin: auto;
    width: 960px;
}

#sobre h2{
    color: #FFFFFF;
}

#sobre p{
    margin-bottom: 2.5cm;
    max-width: 1000px;
    text-align: justify;
}

#desafios{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: white;
    color: purple;
}

#desafios p{
    margin-bottom: 2.5cm;
    max-width: 1000px;
}

#desafios div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#acontecimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: black;
    color: purple;
}

#acontecimentos p{
    margin-bottom: 2.5cm;
    max-width: 1000px;
    text-align: justify;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 10px 10px 20px 20px;
    color: purple;
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 10px 10px 20px 20px;
    color: purple;
}

aside {
    width: 20%;
    padding-left: 50px;
    margin-left: 50px;
    background: blue;
	border-radius: 50px;
	padding: 20px;
	width: 200px;
	float: left;
  }

#pandetecno{
    position: relative;
    left: 195px;
    top: -30px;
    line-height: 40px;
    width: 540px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
    width: 30vw;
    box-shadow: inset 0 0 1em blue, 0 0 1em black;
  }

.tecnoh2{
    margin-left: 600px;
}

#contato p{
    color: white;
}

.contato p{
    color: white;
}

footer{
    padding: 10px;
    background-color: #191970;
    color: #000000;
}

footer a{
    text-decoration: none;
    color: #00FFFF;
}

footer span{
    text-align: center;
}

footer p{
    text-decoration: violet;
    color: #00FFFF;  
    text-align: center;
}

@media  screen and (min-width: 768px) {
    /*Quando a tela estiver menor que 768px, o nav irá ficar justificado e se adaptará a tela do usuário*/
    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: row;
        width: 70%
    }
    /*O cabeçalho irá diminuir conforme a página e ficará no centro*/
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    /*A section sobre irá diminuir conforme a página e ficará no centro*/
    #sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    /*A section acontecimentos irá diminuir conforme a página e ficará no centro*/
    #acontecimentos{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    /*O h1 acontecimentos1 irá diminuir conforme a página e ficará no centro*/
    #acontecimentos1{
        height: 20px;
        height: 10vh;
        justify-content: center;
        min-height: 50px;
    }
    /*O header topo irá diminuir conforme a página e ficará no centro, e o vh o deixará responsivo*/
    #topo{
        height: 20px;
        height: 10vh;
        justify-content: center;
        min-height: 50px;
    }

    }
    /*A div container fará com que o paragrafo diminua conforme a página e fique no centro, e o vh a deixará responsivo*/
    .container{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    /*A div container fará com que a imagem que está dentro diminua conforme a página e fique no centro, e o vh a deixará responsivo*/
    .container2{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    /*A div container que está associada ao paragrafo fará com que o mesmo diminue conforme a página e fique no centro, e o vh o deixará responsivo*/
    .container3{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
        margin-left: -5px;
        width: 100%;
    }
    /*A div container fará com que o h1 diminua conforme a página e fique no centro, a o vh a deixará responsivo*/
    #sobre1{
        margin-bottom: 10vh;
        text-align: center;
        width: 100px;
    }
    /*A imagem será ajustada conforma a página*/
    #imgcorpo2{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

@import "https://fonts.googleapis.com/css?family=Lato:100";

body, #acontecimentos, #desafios, .contato, #contato, #sobre, header{
    width: 98%;
    height: 50%;
    background: linear-gradient(90deg, black, blue );
    background-size: 300% 200%;
    position: relative;
}

#social{
    float: right;
}

a{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    color: #2196f3;
    text-decoration: none;
    overflow: hidden;
    transform: 0.2s;
    border-radius: 30px;
}

a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;

}

a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.50s;
}

#botao1{
	color: #FFF;
	background: #3C5D95;
	width: 150px;
	height: 40px;
	font-size: 1em;
	border: 0px;
	border-radius: 15px;
	cursor: pointer;
}

#botao2{
	color: #FFF;
	font-style: bold;
	background: #3C5D95;
	width: 150px;
	height: 40px;
	font-size: 1em;
	border: 0px;
	border-radius: 15px;
	cursor: pointer;
}

input{
    text-align: left;
    justify-content: center;
}

#desaf{
    align-items: center;
    text-align: center;
}

summary{
    padding: 1em;
    color:darkcyan;
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: .3em;
    font-weight: bold;
}

details[open] ~ * {
    animation: sweep .5s ease-in-out;
}

details[open] summary::-webkit-details-marker {
    background: url(../up.svg) center no-repeat;
    color: transparent;
}

details{
    color: purple;
    text-align: justify;
}

#imagemdet{
    width: 200px;
}

@keyframes sweep {
    from {
        opacity: 0; margin-top: -10px;
    }
    to {
        opacity: 1; margin-top: 0;
    }
}

#logo{
    width: 200px;
    float: right;
}

#logo2{
    width: 400px;
    float: right;
    height: 300px;
}

div img{
    width: 5%;
    align-items: center;
    justify-content: center;
}

#slider {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 3895px;
    line-height: 0;
    height: 400px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: blue;
 }
 #slides .slide_1 {
    background-image: url(images.jpg);
 }
 #slides .slide_2 {
    background-image: url(tecnologia2.jpg);
 }
 #slides .slide_3 {
    background-image: url(Tecnopandemia.jpg);
 }
 #slides .slide_4 {
    background-image: url(tecnologia3.jpg);
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: blue;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: white;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

 .corpoimg{
     margin-left: 230px;
     width: 500px;
 }

 .container{
     display: flex;
     align-items: center;
     width: 50vw;
 }

.botaosaber{
     margin-left: 800px;
     width: 200px;
     margin-top: -160px;
 }

 .corpoimg2{
    margin-right: 300px;
    width: 700px;
    width: 50vw;
}

.container3{
    width: 450px;
    height: 350px;
    margin-top: -255px;
    width: 30vw;
}

.container2{
    margin-right: -600px;
    margin-bottom: -250px;
    width: 100%;
}

.imgcorpo2{
    width: 30vw;
    margin-left: 500px;
    background: crimson;
    margin-top: 30px;
    text-align: center;
}

#sobre1{
    margin-right: 100px;
    color: white;
    font-size: 50px;
}

#acontecimentos1{
    margin-right: 100px;
    color: white;
    font-size: 50px;
    
}

#vencer{
    text-align: center;
}

progress{
    text-align: center;
    border-radius: 20px;
    border: 2px solid #266473;
    outline: darkblue;
    color: white;
    cursor: pointer;
    box-shadow: inset 0 0 1em blue, 0 0 1em blue;
    padding: 3px;
}

#vencer p{
    color: white;
    text-align: center;
}
